html{
    scroll-behavior: smooth;
    background-color: #222;
    overflow-x: hidden;
}
body{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 8px;
    color: whitesmoke;
    background-color: rgb(245, 102, 102);
    margin: 0;
    overflow-x: hidden;
}
main{
    height: auto;
}
section{ 
    text-align: center;
    padding: 0 3rem;
    position: relative;
    padding-bottom: 15vh;
    height: auto;
}
.section-header{
    font-size: 6rem;
}
.sub-section-header{
    font-size: 4rem;
}
.section-paragraph{
    font-size: 4rem;
}
.sub-section-paragraph{
    font-size: 2rem;
}
.tmac-about-me{
    background-color: teal;
}
.tmac-projects{
    background-color: darkgreen;
}